[submodule "umoci"]
	path = umoci
	url = https://github.com/opencontainers/umoci.git
[submodule "skopeo"]
	path = skopeo
	url = https://github.com/containers/skopeo.git
[submodule "crun"]
	path = crun
	url = https://github.com/containers/crun.git
[submodule "squashfs-tools"]
	path = squashfs-tools
	url = https://github.com/plougher/squashfs-tools.git
[submodule "zstd"]
	path = zstd
	url = https://github.com/facebook/zstd.git
[submodule "squashfuse"]
	path = squashfuse
	url = https://github.com/vasi/squashfuse.git
[submodule "fuse-overlayfs"]
	path = fuse-overlayfs
	url = https://github.com/containers/fuse-overlayfs.git
[submodule "libfuse"]
	path = libfuse
	url = https://github.com/libfuse/libfuse.git
[submodule "argp-standalone"]
	path = argp-standalone
	url = https://github.com/argp-standalone/argp-standalone.git
